* {
    margin: 0;
    padding: 0;
    color: #081c34;
}

.main-container {
    text-align: center;
    background-color: #84BC9C;
    min-height: 100vh;
    height: 100%;
}

header {
    background-color: #2CA58D;
    padding: 10px;
    margin-bottom: 50px;
    font-family:"Arial, Helvetica, sans-serif";
    font-weight: bolder;
    font-size: 30px;
}

.heading {
    margin: 20px;
    font-size: 30px;
    font-weight: bold;
}

.input-box {
    text-align: center;
    display: flex;
    justify-content: center;
}

fieldset {
    width: 30vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    border-width: 0px;
    background-color: #ede1bd;
}

legend {
    font-size: 15px;
    font-weight: bold;
}

#task {
    border-radius: 5px;
    border: none;
    height: 25px;
    width: 50%;
    padding: 0 6px 0 6px;
}

#priority {
    border-radius: 5px;
    border: none;
    height: 25px;
    width: 15%;
}

.error {
    color:rgb(237, 37, 37);
    display: none;
}

.submit-btn {
    margin-bottom: 20px;
    width: 100px;
    height: 30px;
    border-radius: 6px;
    border-width: 1px;
    background-color: #F46197;
    font-size: 1rem;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
}

.your-tasks {
    margin: 30px;
}

.task-list-container {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.task-list {
    font-family: 'Arial';
    font-size: 1.6rem;
    font-weight: 900;
    width: 100%;
    max-width: 520px;
}

.red-font {
    color: red;
}

.yellow-font {
    color: yellow;
}

.blue-font {
    color: lightskyblue;
}

.new-task-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    margin-bottom: 24px;
}

.del-btn {
    width: 30px;
    height: 30px;
    background-color: #ce2f41;
    border-radius: 8px;
    flex: 0 0 auto;
    cursor: pointer;
}






